*{
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.main-panel {
  min-width: 480px;
  min-height: 100vh;
  /* margin: auto; */
  color: white;
  background-image: url("img/t3.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.nav-menu {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color:rgba(0, 0, 0, 0.5);
  font-weight: 700; 
  /* position: relative; */
  
}


.nav-menu #myLinks {
  display: none;
  text-align: center;
}

.nav-menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-menu a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.nav-menu a.icon:hover {
  color:black;
}

.nav-menu a:hover {
  background-color: rgb(245, 245, 245, 0.5);
  color: black;
}

/* .active {
  background-color: rgba(245, 245, 245, 0.5);
  color: white;
} */


.main-panel-text{ 
  text-align: left;
  color: white;
  margin: 250px 50px;
  font-family: 'Montserrat', sans-serif;
}
.main-panel-text h2{
  font-size: 50px;
  font-weight: 200;
}
.main-panel-text h2 span{
  font-size: 50px;
  font-weight: 700;
  color:#81c73b;
}

.main-panel-text p{
  font-size: 25px;
}

.btn-down{
  position: absolute;
  bottom: 30px;
  color: grey;
  width:100%;
  text-align: center; 
  /* place-content: center;
  align-content: center;
  text-align: center; */
}


/* About section */
.about{
  min-height: 50vh;
  background-color: whitesmoke;
  padding: 50px 50px;
  text-align: center;
  color: black
}
.about> h2{
  margin-bottom: 25px;
  
}
.social-media ul {
  display: flex;
  justify-content:center;
  /* place-items: center; */
  /* position: absolute; */
  /* margin: 20px auto; */
  margin:20px auto;
}
.social-media ul li{
  padding: 5px;
}
.social-media ul li a{
  color: #000;
}

/* Projects section */
.portfolio-wrapper {
	margin: 70px auto;
  /* padding: 100px 20px 50px; */
  padding: 50px 20px 50px 20px;
	text-align: center;
	min-height: 60vh;
	/* max-width: 1080px; */
	margin: auto;
  background-color: rgb(78, 76, 76);
  /* color: white; */
  	
}
.portfolio-wrapper> h2{
  margin-bottom: 30px;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  gap: 50px;	
}

.project-wrapper {
	flex: 0 1 320;
  /* max-height: 480px;
  max-width: 330px; */
  height: 300px;
  width: 200px;
  overflow: hidden;
  background-color: #fff;
  
}

.project {
  width: 100%;
  height: 100%;
}
img {
  height: 100%;
  width: 100%;
}
figcaption{
  font-size: 18px;;
}

/* Skills section */
.skills{
  min-height: 40vh;
  background-color: white;
  /* background-color: rgb(121, 119, 119); */
  text-align: center;
  padding: 50px 20px 50px 20px;
}
.skills-wrapper{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
  gap: 30px;	
}
.skills-wrapper li img{
 width: 150px;
}

.skills > h2{
  margin: 30px;
  color:black;
}

/*Contact section */
.contact-wrapper {
	min-height: 60vh;
	width: 100%;
	background-color: rgb(104, 101, 101);
	text-align: center;
  padding: 50px 20px 50px 20px;
  
}
.contact-wrapper> h2 {
  color: white;
  margin-bottom: 30px;
}
.contact {
	max-width: 1080px;
	margin: auto;
}
.textinput {
	padding: 12px;
	border-radius: 5px;
	border: 0;
	width: 100%;
	max-width: 700px;
	margin: 10px 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 16px;
}
textarea {
	resize: vertical;/*?*/
}
textarea:focus, .textinput:focus {
	outline: 0; 
}
.submit {
	display: block;
	margin: 10px auto;
	border: 0;
	background: #333333;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	transition: 200ms;
	cursor: pointer;
	box-shadow: 0 7px 0 #000, 0 5px 30px #000; 
	/* font-family: 'Lobster', cursive; */
	font-weight: 300;
	font-size: 18px;
}
.submit:hover, .submit:focus {
	outline: 0;
}
.submit:active {
	box-shadow: 0 5px 0 #000, 0 3px 10px #000;
	transform: translateY(5px);
}

/* mobile styles */

/* small tablet styles */
@media screen and (max-width: 620px){
  /* scroll btn lower 
  nav menu compressed into hamburger style */
 

}

/* large tablet & laptop styles */
@media screen and (max-width: 960px){


}

/* desktop styles */
@media screen and (min-width: 1200px){

}